<%- include ('partials/header'); -%>

<h1> You really like <%= Thingvar %> </h1>

<% if(Thingvar === "rusty") { %>
<p> GOOD CHOICE!! </p>
<% } %>

<p> love.js </p>

<%- include ('partials/footer'); -%>