<!DOCTYPE html>
<html>
<head>
  <title>SUCCESS-PAGE</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/Success-Page.css">
</head>
<body>
  <h1>PROFILE&nbsp;&nbsp;LOGIN&nbsp;&nbsp;SUCCESSFUL!</h1>
  <a href="/logout" class="logout">Please Logout</a>
</body>
</html>  